<div>
<h1>Cadastro  de Clientes</h1>
</div>

<div>
<form action="" method="post">
    <label for="id">Id:</label>
    <input type="text" name="id_cliente" id="id_cliente" > <br>
    <label for="nome">Nome:</label>
    <input type="text" name="ipt_nome" id="ipt_nome" placeholder="Digite o nome do cliente"> <br>
    <label for="sobrenome">Sobrenome:</label>
    <input type="text" name="ipt_sobrenome" id="ipt_sobrenome" placeholder="Digite o sobrenome do cliente"> <br>
    <input type="submit" value="Salvar"> 
</form>
</div>
