
<div id="corpo">
  <div id="Titulo">
     <h1>Cadastro de Clientes</h1>
 </div>

 <div>
 <form (ngSubmit)="salvar()">
     <label for="id">Id:</label>
     <input type="text" name="id_cliente" id="tipo" [(ngModel)]="cliente.id"/> <br>
     <label for="cliente">Nome do cliente:</label>
     <input type="text" name="nome" id="nome"  [(ngModel)]="cliente.nome"/> <br>
     <label for="cliente">Sobrenome do cliente:</label>
     <input type="text" name="sobrenome" id="sobrenome"  [(ngModel)]="cliente.sobrenome"/> <br>
     <input type="submit" id="salvar" value="Salvar" />
 </form>
 </div>
 </div>
